@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

.menu ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.menu ul a:hover::after {
  width: 100%;
}

.banner {
  background-image: url(../public/assets/images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner button:hover .about {
  background: linear-gradient(#2b7fff, #00d3f2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
